.my-container{
  height: 100%;
  margin-top: 48px;
}
.left-container{
  width: 48px;
  text-align: center;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

.tab-icon{
  font-size: xx-small;
}

.main-content-div{
  padding-top: 20px;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.tool-bar-div{
  padding-top: 20px;
}
