<div>
  <!-- logo -->
  <div>
    <button mat-icon-button aria-label="logo">
      <mat-icon class="logo-icon" style="line-height: 36px">headset_mic</mat-icon>
    </button>
  </div>
  <!-- logo -->

  <!-- 工具栏导航 -->
  <div>
    <button mat-icon-button aria-label="123">
      <mat-icon>headset_mic</mat-icon>
    </button>
    <button mat-icon-button aria-label="">
      <mat-icon>headset_mic</mat-icon>
    </button>
    <button mat-icon-button aria-label="">
      <mat-icon>headset_mic</mat-icon>
    </button>
  </div>
  <!-- 工具栏导航 -->
</div>
