.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.top-bar{
  min-height: 48px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.top-bar-row{
  font-size: 16px;
  height: 48px;
}

.state-div{
  min-width: 10px;
}

.example-full-width {
  width: 100%;
}

.dialpad{
  position: fixed;
  z-index: 1000;
  right: 0.5em;
  top: 3em;
  font: caption;
}

.keypad{
  width: 2em;
}
